In [7]:
# Packages
import numpy as np
import sklearn 
import pandas as pd
import matplotlib.pyplot as plt
import scipy
from scipy.integrate import odeint
import math

from utility_code.utility import utils

#import csvs
train = pd.read_csv("ucla2020-cs145-covid19-prediction/train.csv")
test = pd.read_csv("ucla2020-cs145-covid19-prediction/test.csv")
graph = pd.read_csv("ucla2020-cs145-covid19-prediction/graph.csv")
dummydata = pd.read_csv("data-test/raw_data_test.csv", skiprows=2, thousands=',')

statesdata = {}
states = pd.Series.unique(train['Province_State'])
num_states = len(states)
for s in states:
    statesdata[s] = train.loc[train['Province_State'] == s ,:]

In [8]:
p,d,q = 5,2,3
days = 26

def predictARIMA(X, p, d, q, days):
    model = ARIMA(X, order=(p,d,q))
    model_fit = model.fit()
    start = len(X)
    forecast = model_fit.predict(start = start, end = start + days)
    return(forecast)

def difference(dataset, interval = 1):
    diff = list()
    for i in range(interval, len(dataset)):
        value = dataset[i]-dataset[i-interval]
        diff.append(value)
    return np.array(diff)

# invert differenced value
def inverse_difference(history, yhat, interval=1):
    #yhat = np.exp(yhat)
    return yhat + history[-1]

from statsmodels.tsa.arima.model import ARIMA

proj = {}
for s in states:
    # saved as a string -- weird parsing
#     pcn = int(statepars.iloc[0][s][6])
#     dcn = int(statepars.iloc[0][s][14])
#     qcn = int(statepars.iloc[0][s][22])
#     pdd = int(statepars.iloc[1][s][6])
#     ddd = int(statepars.iloc[1][s][14])
#     qdd = int(statepars.iloc[1][s][22])
    
    a = statesdata[s]
    a = a.reset_index()
    confirmed = a['Confirmed']
    deaths = a['Deaths']
    
    X = confirmed.values
    
    forecastC = predictARIMA(X, 2,2,3, days)
#     modelC = ARIMA(X, order=(5,2,3))
#     model_fitC = modelC.fit()
#     start = len(X)
#     forecastC = model_fitC.predict(start = start, end = start + days)

    Y= deaths.values
    forecastD = predictARIMA(Y, 5,2,3, days)
#     modelD = ARIMA(Y, order=(5,2,3))
#     model_fitD = modelD.fit()
#     start = len(Y)
#     forecastD = model_fitD.predict(start = start, end = start + days)

    df = {'Confirmed': forecastC, 'Deaths': forecastD}
    
    proj[s] = pd.DataFrame(df)

/Users/Aditya/anaconda3/lib/python3.6/site-packages/statsmodels/tsa/statespace/sarimax.py:966: UserWarning: Non-stationary starting autoregressive parameters found. Using zeros as starting parameters.
  warn('Non-stationary starting autoregressive parameters'
/Users/Aditya/anaconda3/lib/python3.6/site-packages/statsmodels/tsa/statespace/sarimax.py:978: UserWarning: Non-invertible starting MA parameters found. Using zeros as starting parameters.
  warn('Non-invertible starting MA parameters found.'

In [9]:
order = test.loc[0:49,'Province_State']
test

# format submission
conf = []
dead = []
fid = 0
for i in range(days):
    for j in order:
        projection = proj[j].iloc[i]
        #print(j, 'day', i)
        conf.append(int(projection['Confirmed']))
        dead.append(int(projection['Deaths']))
        #print(fid)
        fid+=1

In [10]:
test['Confirmed'] = conf
test['Deaths'] = dead

In [11]:
submission = test.drop(columns=['Province_State', 'Date'])
submission

      ForecastID  Confirmed  Deaths
0              0     127264    2196
1              1       5320      37
2              2     202228    5068
3              3      61782     810
4              4     717653   13153
...          ...        ...     ...
1295        1295     143116    2944
1296        1296      85449    2121
1297        1297      13437     314
1298        1298      90330    1265
1299        1299       4688      43

[1300 rows x 3 columns]

In [12]:
#submission.to_csv('team31-dec4-2.csv', index = False, header = True)

In [6]:
submission

      ForecastID  Confirmed  Deaths
0              0     127411    2196
1              1       5311      38
2              2     202337    5055
3              3      61768     812
4              4     718329   13144
...          ...        ...     ...
1295        1295     145467    2951
1296        1296      85636    2119
1297        1297      13551     317
1298        1298      93271    1273
1299        1299       4744      43

[1300 rows x 3 columns]

In [26]:
statepars

,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Florida,Georgia,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
confirmed,"{'p': 6, 'd': 1, 'q': 2}","{'p': 2, 'd': 2, 'q': 3}","{'p': 8, 'd': 2, 'q': 4}","{'p': 8, 'd': 2, 'q': 3}","{'p': 6, 'd': 1, 'q': 2}","{'p': 2, 'd': 2, 'q': 3}","{'p': 2, 'd': 3, 'q': 4}","{'p': 6, 'd': 3, 'q': 2}","{'p': 8, 'd': 1, 'q': 2}","{'p': 8, 'd': 1, 'q': 4}",...,"{'p': 4, 'd': 3, 'q': 4}","{'p': 8, 'd': 1, 'q': 5}","{'p': 4, 'd': 3, 'q': 4}","{'p': 4, 'd': 2, 'q': 4}","{'p': 4, 'd': 2, 'q': 4}","{'p': 2, 'd': 3, 'q': 4}","{'p': 2, 'd': 2, 'q': 4}","{'p': 6, 'd': 3, 'q': 5}","{'p': 8, 'd': 2, 'q': 2}","{'p': 6, 'd': 1, 'q': 3}"
deaths,"{'p': 8, 'd': 3, 'q': 3}","{'p': 2, 'd': 3, 'q': 3}","{'p': 6, 'd': 2, 'q': 2}","{'p': 2, 'd': 3, 'q': 4}","{'p': 6, 'd': 1, 'q': 3}","{'p': 4, 'd': 1, 'q': 4}","{'p': 6, 'd': 2, 'q': 5}","{'p': 4, 'd': 3, 'q': 2}","{'p': 4, 'd': 2, 'q': 4}","{'p': 4, 'd': 2, 'q': 3}",...,"{'p': 4, 'd': 2, 'q': 5}","{'p': 6, 'd': 3, 'q': 4}","{'p': 6, 'd': 3, 'q': 4}","{'p': 8, 'd': 1, 'q': 2}","{'p': 2, 'd': 1, 'q': 2}","{'p': 4, 'd': 3, 'q': 2}","{'p': 4, 'd': 1, 'q': 4}","{'p': 8, 'd': 2, 'q': 4}","{'p': 6, 'd': 1, 'q': 5}","{'p': 8, 'd': 1, 'q': 3}"